html {
    font-family: Arial, Verdana, sans-serif;
}

body {
    background-color: #f5f5dd;
}

img {
    width: 200px;
}

header {
    margin: 0px 0px 15px 0px;
}

footer {
    padding: 20px;
    margin: 20px 0px;
    background-color: #DDB88A;
    font-size: 12px;
}

.div-review {
    background-color: white;
    margin: 0px 200px;
    padding: 20px;
    border: 1px solid lightblue;
}

.div-detail {
    background-color: white;
    margin: 0px 200px;
    padding: 20px;
}

.div-create-form {
    background-color: white;
    margin: 0px 200px;
    padding: 20px;
}

.div-textbox-input {
    padding: 10px;
}

.section-author {
    font-size: 12px;
    color: grey;
}

button {
    padding: 10px;
}